* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section, article, header {
  display: block;
}

html {
  height: 100%;  
}

body {
  min-height: 100%;  
  background: #eee;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #222;
  font-size: 0.8rem;
  line-height: 1rem;
  padding-bottom: 2em;
}

ul {
  margin-left: 0.7rem;
}

li {
  margin: 0.3em 0;
}

a {
  text-decoration: none;
  color: #000;
  font-style: italic;
}

a:hover {
  text-decoration: underline;
  color: #000;
}

main {
  max-width: 900px;   
  background: #fff;
  margin: 0px auto 0px; 
  box-shadow: 1px 1px 2px #DAD7D7;
  border-radius: 3px;  
  padding: 2.5em;
  margin-top: 2em;
}

header {
  margin-bottom: 30px;
}

section {
  margin-bottom: 1.5em;  
}

  .full-name {
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 0.3em;
  }
  
  .first-name {
    font-weight: 700;
  }
  
  .last-name {
    font-weight: 300;
  }
  
  .contact-info {
    margin-bottom: 1rem;
  }
  
  .separator {
    height: 10px;
    display: inline-block;
    border-left: 2px solid #999;
    margin: 0px 10px;
  }
  
  .position {
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;
    text-decoration: underline;
  }

.company-desc {
  font-size: 0.7rem;
  line-height: 0.9rem;
  color: #3ba1dc;    
}

.subtitle {
  font-size: 0.7rem;
  color: #4b4b4b;    
  margin-bottom: 0.3em;
  text-decoration: underline;
}

.details {
  line-height: 1.4em;
}
  
  .section:last-of-type {
    margin-bottom: 0px;  
  }
  
  .section__title {
    font-size: 1rem;
    letter-spacing: 0.07em;
    color: #54AFE4;
    font-weight: bold;
    margin-bottom: 0.4em;
    text-transform: uppercase;
  }
  
  .section__list-item {
    margin-bottom: 2em;
  }
  
  .section__list-item:last-of-type {
    margin-bottom: 0;
  }
  
  .left ,
  .right {
    vertical-align: top;
    display: inline-block;
  }
  
  .left {
    width: 22%;
    margin-right: 0.5em;    
  }
  
  .right {
    text-align: left;
    width: 76%;
  }

  .lower-left {
    text-align: left;
    width: 100%;
    margin-right: 0.1em;    
  }

  .lower-right {
   text-align: left;
   display: flex;
   flex-direction: row;
   width: 100%;
   margin-top: 0.4em;
  }
  
  .name {
    font-weight: bold;
  }

  .company-name {
    font-weight: bold;
  }
  
  .skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  
  }

  .skills__item {
    margin-bottom: 1em;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
  }
  
  input[type=checkbox] {
    display: none;
  }

  .skills-print {
    display: none;
  }

    label {
      display: absolute;
      width: 15px;
      height: 15px;
      background: #a0c3de;
      border-radius: 20px;
      margin-right: 0.2em;
    }
    
    input:checked + label {
      background: #4388bc;
    }

    @media print {
    body {
      min-width: initial !important;
      background: rgb(255, 255, 255);
      width: 109%;
    }

    section {
      margin-bottom: 1em;  
    }

    section:last-of-type {
      margin-bottom: -1em;  
    }

    main {
      max-width: 1300px;  
      padding: 1em;
      box-shadow: 0 0 0;

      margin: 1em 0.5em;
    }

    .page-end {
      height: 10em;
    }

    .page-spacer {
      padding: 1.1em 0;
    }

    .skills-print {
      display: block;
    }

    .section-col {
      display: none;
    }

    .print {
      display: none;
    }

    .skills {
      grid-template-columns: 0.6fr 0.9fr 1fr;
      gap: 0.5em 0.5em;
    }

  }

  @media (max-width: 540px) {
    
    main {
    max-width: 90%;
    padding: 3em 1.5em 1.5em 1.5em; 
    }

    .left {
      width: 100%;
      margin-bottom: 0.6em;
    }

    .right {
      width: 100%;
    }

    .name {

    }

    .company-name {
      font-size: 1rem;
      font-weight: bold;
    }

    .company-desc {
      color: #4b4b4b;
    }

    .duration {
      color: #3ba1dc;
    }

    .addr {
      color: #3ba1dc;      
    }

    .mobile {
      display: none;
    }

    .section__title {
      font-size: 1.1rem;
      margin: 2.5em 0 1em 0;
      text-decoration: underline;
    }

    .skills {
      grid-template-columns: 1fr 1fr;
      gap: 1em;
    }
    
  }

  @media (max-width: 850px) {
    
    main {
    max-width: 90%;
    padding: 3em 1.5em 1.5em 1.5em; 
    }

  }
